<li class="nav-item">
    <a id="UploadDOcs" class="nav-link text-dark" asp-area="Client" asp-action="Index" asp-controller="UploadDocs">
        <i class="bi bi-database-gear me-2"></i>Upload Documents
    </a>
</li>