<li class="nav-item">
    @* <a id="Tables" class="nav-link text-dark" asp-area="Admin" asp-action="Index" asp-controller="DatabaseManager">
        <i class="bi bi-database-gear me-2"></i>Database Manager
    </a> *@
</li>